
<nav class="fixed bottom-0 left-0 right-0 z-30">
    <div
        class="bg-white/80 dark:bg-slate-900/95 backdrop-blur-xl border-t border-slate-200 dark:border-slate-800 pb-8 pt-3 px-6 flex justify-between items-center">
        <a class="flex flex-col items-center gap-1 text-slate-400" href="#">
            <span class="material-symbols-outlined">dashboard</span>
            <span class="text-[10px] font-bold">Asosiy</span>
        </a>
        <a class="flex flex-col items-center gap-1 text-primary" href="#">
            <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1">inventory_2</span>
            <span class="text-[10px] font-bold">Ombor</span>
        </a>
        <div class="relative -top-1">
            <div class="size-12 rounded-full bg-slate-900 dark:bg-white flex items-center justify-center">
                <span class="material-symbols-outlined text-white dark:text-slate-900">barcode_scanner</span>
            </div>
        </div>
        <a class="flex flex-col items-center gap-1 text-slate-400" href="#">
            <span class="material-symbols-outlined">bar_chart</span>
            <span class="text-[10px] font-bold">Hisobot</span>
        </a>
        <a class="flex flex-col items-center gap-1 text-slate-400" href="#">
            <span class="material-symbols-outlined">person</span>
            <span class="text-[10px] font-bold">Profil</span>
        </a>
    </div>
</nav>
